version: "3.9"
services:
  backend:
    build: ./backend
    container_name: academic-backend
    ports:
      - "8081:8081"
  frontend:
    build: ./frontend
    container_name: academic-frontend
    ports:
      - "8080:80"
    environment:
      - REACT_APP_API_URL=http://academic-backend:8081
    depends_on:
      - backend
